token.env
token.json
*.env
.env.local
.env.development
.env.production

/json/access_user.json
/json/credentials.json
/json/OAUTH.json
/json/*.json

/temp files/
*.tmp
*.temp
*.cache
*.pdf

/logs/
*.log

.DS_Store
Thumbs.db
dekstop.ini

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
env/
.venv

.vscode/
.idea/
*.swp
*.swo
